<table>
  <tr>
    <td>
      <p><%= image_tag @user.image.url, class: "rounded-circle", size: "50x50" %></p>
    </td>
  </tr>
  <tr>
    <td>
      <p><%= @user.name %></p>
    </td>
  </tr>
  <tr> 
    <td>
      <p>メールアドレス: <%= @user.email %></p>
    </td>
  </tr>
</table>

<table>
        <tr>
          <td><%= link_to "お気に入り一覧",favorite_path %></td>
          <td><%= link_to "home",posts_path %></td>
          <td><%= link_to "➕", new_post_path %></td>
          <% if @user == current_user %>
            <td><%= link_to "edit profile", edit_user_path %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
</table>