<table>
  <% @posts.each do |post| %>
    <%# <tr><td><%= post.user.name %>
    <%# </td> </tr> %> 
    <tr>
      <td>
        <%= link_to post_path(post.id) do %>
          <%= image_tag (post.image.url) if post.image && post.image.url %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <h3><%= post.content %></h3>
      </td>
      <td>
        <p><%= link_to "edit", edit_post_path(post.id) %></p>
      </td>
      <td>
        <p><%= link_to 'delete', post_path(post.id), method: :delete ,data: { confirm: '削除していいですか？' } %></p>
      </td>
    </tr>
  <% end %>
</table>

<table>
        <tr>
          <td><%= link_to "home",posts_path %></td>
          <td><%= link_to "➕", new_post_path %></td>
        </tr>
</table>