<!DOCTYPE html>
<html>
  <head>
    <title>InstagramCloneApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <table>
        <tr>
          <td><%= link_to "home",posts_path %></td>
          <td><%= link_to "➕", new_post_path %></td>
        </tr>
      </table>
    </header>
    <%= yield %>
  </body>
</html>
